# Rust specific
debug/
target/
**/*.rs.bk

# Obj-C/Swift specific
*.hmap
*.xcodeproj
Packages/
Package.pins
Package.resolved
.build/
generated/

# Object files and libraries
*.o
*.lo
*.a
*.la
*.dylib

# Precompiled Headers
*.gch
*.pch

# Executables
*.app

# General macOS
.DS_Store
**/.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# local stuff
.bacon-locations
bacon.toml
.vscode/
.cursor/
.cursorignore
.references/
.windsurfrules
.repomix/
repomix*
coverage/*
CLAUDE.md
.cargo/config.local.toml

# mdBook
docs/book/
