debug/*
target/*
**/*.rs.bk
*.hmap
*.xcodeproj
Packages/*
Package.pins
Package.resolved
.build/*
generated/*
*.o
*.lo
*.a
*.la
*.dylib
*.gch
*.pch
*.app
.DS_Store
**/.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.bacon-locations
bacon.toml
.vscode/mise-tools
.references/*
.windsurfrules
.repomix/
repomix*
**/*.profraw
CLAUDE.md
docs/book/
mach2/
